html, body {
    font-family: "Courier New", Courier, monospace;
    background-color: #85998D;
    padding: 20px;
    font-size: 120%;
    height: 190vh;
}

nav, #links {
    padding: 20px;
    background-color: floralwhite;
    border: solid 6px #9C9C9C;
    height: 3vh;
    position: sticky;
    top: 0px;
}

main, #content {
    width: 93%;
    margin: 10px;
    padding: 20px;
    border: solid 6px #9C9C9C;
    background-color: #f2efe6;
    height: 250vh;
}


#image-filter img{
    height: 410px;
}

h1, h2, h3 {
    font-family: "Lucida Console", monospace;
    color: #AC5B4D;
    text-transform: capitalize;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
