/* FLEXBOX FLEXBOX FLEXBOX CSS CSS */
/* FLEXBOX FLEXBOX FLEXBOX CSS CSS */
html, body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    box-sizing: border-box;
}
/* STYLING FOR HEADER */
header {
  background-color: #AEB9B9;
  padding: 1px;
  text-align: center;
  font-size: 35px;
  color: white;
}
/* FLEXBOX CONTAINER STYLING */
section {
  display: flex;
  display: flex;
  height: 700px;
}
/* STYLING FOR NAVIGATION MENU */
nav {
  display: flex;
  background-color: #607575;
}
/* STYLING FOR CONTENT SUCH AS  ARTILCE AND FOOTER */
article {
  flex: 3;
  flex: 3;
  background-color: #EDF1F5;
  padding: 10px;
}
/* ASIDE STYLING */
aside p{
  font-size: 25px;
}

article h1{
  font-size: 30px;
}
/* STYLING FOR IMAGE INSIDE OF ARTICLE */
.row-pictures {
  display: flex;
}

.photo-column {
  flex: 33.33%;
  padding: 5px;
}

.photo-column img{
  width: 100%;
  height: 410px;
}

footer {
  background-color: #AEB9B9;
  padding: 10px;
  text-align: center;
  color: white;
}
/* RESPONSIVE LAYOUT- USE MEDIA */
@media (max-width: 600px) {
  section {
    flex-direction: column;
    flex-direction: column;
  }
}

/* Heading Styling */
h1, h2, h3 {
    font-family: "Lucida Console", monospace;
    color: #AC5B4D;
    text-transform: capitalize;
    letter-spacing: 3px;
}

/* Under is homepage link styling */
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  font-weight: 500;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li:last-child {
  border-right: none;
}

a {
    text-decoration: none;
    color: maroon;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
}
