body {
    font-family: fantasy;
    background-color: #015761;
    padding: 25px;
    font-size: 120%;
}

div.topnav {
    padding: 50px;
    background-color: floralwhite;
    border: solid 2px #333333;
    height: 2vh;
}

div.content {
    padding: 50px;
    background-color: floralwhite;
    border: solid 2px #333333;
    height: 65vh;
}

div.footer {
    padding: 50px;
    background-color: floralwhite;
    border: solid 2px #333333;
    height: 1vh;
}

p.color {
    color: #418391;
}

#flower {
    float: right;
    margin: 115px;
}

h1, h2, h3 {
    font-family: fantasy;
}

img {
    float: right;
    width: 420px;
    height: auto;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
