html, body {
    font-family: "Courier New", Courier, monospace;
    background-color: #8C4501;
    padding: 20px;
    font-size: 120%;
    height: 190vh;
}

nav, #links {
    padding: 50px;
    background-color: floralwhite;
    border: solid 9px #D96B02;
    height: 3vh;
    position: sticky;
    top: 0px;
}

main, #content {
    width: 93%;
    margin: 10px;
    padding: 20px;
    border: solid 10px #D96B02;
    background-color: #f2efe6;
    height: 250vh;
}

h1, h2, h3 {
    font-family: "Lucida Console", monospace;
    color: #006E8C;
    text-transform: capitalize;
    letter-spacing: 3px;
}

/* Added code for iframe */
iframe#fake {
    width: 800px;
    height: 500px;
    resize: both;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
