html, body {
    font-family: "Courier New", Courier, monospace;
    background-color: #8C4501;
    padding: 20px;
    font-size: 120%;
    height: 190vh;
}

nav, #links {
    padding: 50px;
    background-color: floralwhite;
    border: solid 9px #D96B02;
    height: 3vh;
    position: sticky;
    top: 0px;
}

main, #content {
    margin: 20px;
    padding: 40px;
    border: solid 10px #D96B02;
    background-color: #f2efe6;
    height: 155vh;
}

aside, #sidebar {
    display: inline-block;
    float: right;
    min-width: 300px;
    width: 30%;
    background-color: #B2C5DB;
    margin: 150px;
}

h1, h2, h3 {
    font-family: "Lucida Console", monospace;
    color: #006E8C;
    text-transform: capitalize;
    letter-spacing: 3px;
}

img {
    float: right;
    width: 420px;
    height: 410px;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
