
#social-box {
  position: absolute;
  top: 2px;
  left: 16px;
  width: 100%;
}

#click-here {
  position: absolute;
  bottom: 200px;
  width: 100%;
}

#right-side {
  word-spacing: 10px;
  font-family: Arial, sans-serif;
  float: right;
  font-weight: bold;
}

#left-bottom {
  position: absolute;
  bottom: 210px;
  left: 160px;
  font-family: Arial, sans-serif;
  font-size: 60px;
  font-weight: bold;
  width: auto;
  overflow: hidden;
}

#middle-text {
  position: absolute;
  bottom: 34%;
  right: 25%;
  width: 300px;
  border: none;
  overflow: hidden;
}

#listen-photo {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  overflow: hidden;
}

#text-one {
  position: absolute;
  top: 460px;
  left: 160px;
  font-weight: 60;
  width: 100%;
  font-size: 28px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  overflow: hidden;
}

#spotify-background img {
  position: absolute;
  left: 0px;
  top; 0px;
  z-index: -3;
  height: 100%;
  width: 100%;
}

#social-box img {
    max-height: 20%;
    height: 15vh;
    width: auto;
    margin-left: 0px;
}

#click-here img{
  max-height: 20%;
  float: left;
  height: 20vh;
  width: auto;
}

#listen-photo img{
  max-height: 20%;
  float: right;
  height: 87vh;
  width: auto;
}
