html, body {
    font-family: "Courier New", Courier, monospace;
    background-color: #8C4501;
    padding: 20px;
    font-size: 120%;
    height: 190vh;
}

nav, #links {
    padding: 50px;
    background-color: floralwhite;
    border: solid 9px #D96B02;
    height: 3vh;
    position: sticky;
    top: 0px;
}

main, #content {
    width: 93%;
    margin: 10px;
    padding: 20px;
    border: solid 10px #D96B02;
    background-color: #f2efe6;
    height: 250vh;
}

div#floated {
  width: 30%;
  float: right;
  color: #9E8825;
}

div#center-horz {
  text-align: center;
  width: 30%;
  margin: auto;
  color: #9E8825;
  overflow: hidden;
}
div#center-both {
    height: 200px;
    position: relative;
}

div#center-both img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

img, #center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    height: 410px;
}

h1, h2, h3 {
    font-family: "Lucida Console", monospace;
    color: #006E8C;
    text-transform: capitalize;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
