html, body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  box-sizing: border-box;
}

/* Heading Styling */
h1, h2, h3 {
    font-family: "Lucida Console", monospace;
    color: #AC5B4D;
    text-transform: capitalize;
    letter-spacing: 3px;
}

/* Under is homepage link styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:last-child {
  border-right: none;
}

a {
    text-decoration: none;
    color: maroon;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
}
