html, body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    box-sizing: border-box;
}
.top-view {
  float left;
  width: 100%;
}
.main {
  float: left;
  width: 60%;
}
.aside {
  float: left;
  width: 20%;
}
.footer {
  float: left;
  width: 100%;
  overflow: auto;
}
/* STYLING FOR HEADER */
header {
  background-color: #EDEBE4;
  padding: 1px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* STYLING FOR NAVIGATION MENU */
nav {
  display: flex;
  background-color: #A19F9A;
}

/* ASIDE STYLING */
aside p{
  font-size: 25px;
}

/* Image styling below */
.aside img{
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #EDEBE4;
  padding: 10px;
  text-align: center;
  color: white;
}
/* RESPONSIVE LAYOUT- USE MEDIA */
@media screen and (max-width: 600px) {
  .top-view , .aside, .main, .footer  {
    width: 100%
  }
}

/* Heading Styling */
h1, h2, h3 {
    font-family: "Lucida Console", monospace;
    color: #AC5B4D;
    text-transform: capitalize;
    letter-spacing: 3px;
}

/* Under is homepage link styling */
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  font-weight: 500;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li:last-child {
  border-right: none;
}

a {
    text-decoration: none;
    color: maroon;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
}
