body {
    font-family: fantasy;
    background-color: darkolivegreen;
    padding: 25px;
    font-size: 120%;
}

div#topview {
    padding: 50px;
    background-color: floralwhite;
    border: solid 2px #333333;
    height: 80vh;
}
div#footer {
    padding: 50px;
    background-color: floralwhite;
    border: solid 2px #333333;
    height: 1vh;
}
#mepicture {
    float: right;
    margin: 10px;
}

h1, h2, h3 {
    font-family: fantasy;
}

img {
    float: right;
    width: 420px;
    height: auto;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
