body {
    font-family: fantasy;
    background-color: darkolivegreen;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: floralwhite;
    border: solid 1px #333333;
    height: 80vh;
}
div#challenge {
    padding: 50px;
    background-color: floralwhite;
    border: solid 1px #333333;
    height: 15vh;
}

h1, h2, h3 {
    font-family: fantasy;
}

img {
    float: right;
    width: 400px;
    height: auto;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
